/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/


.error {
    top: 0;
    z-index: 9;
    background: #000000e3;
    color: #fff !important;
    padding: 10px;
    width: 90%;
    height: max-content;
    margin: 0 5%;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 400px;
    display: none;
    margin: auto;
}

.ti-hc-reload {
    animation: ti-reload 1.3s linear infinite;
}

.ti-hc {
    display: inline-block;
    font-size: 32px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes ti-reload {
    0 {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}